extends layout

block content
  script(src="https://code.jquery.com/jquery-2.2.0.min.js")
  script(src="javascripts/client.js")
  .boardContainer
      .board
        .row0
            .square.col0(onclick="move(0, 0)")
            .square.col1(onclick="move(0, 1)")
            .square.col2(onclick="move(0, 2)")
        .row1
            .square.col0(onclick="move(1, 0)")
            .square.col1(onclick="move(1, 1)")
            .square.col2(onclick="move(1, 2)")
        .row2
            .square.col0(onclick="move(2, 0)")
            .square.col1(onclick="move(2, 1)")
            .square.col2(onclick="move(2, 2)")