extends layout

block content

  .boardContainer
      .board
        .row0
            .square.col0
            .square.col1
            .square.col2
        .row1
            .square.col0
            .square.col1
            .square.col2
        .row2
            .square.col0
            .square.col1
            .square.col2